# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3
*.db
!app.db      # Track app.db in Git

# Environment
.env

# VSCode/PyCharm/OS
.vscode/
.idea/
.DS_Store

# Alembic
alembic/versions/*.pyc.env