version: "3.9"

services:
  api:
    build: .
    container_name: crypto-simulator-api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./app.db:/app/app.db
    depends_on:
      - redis
    env_file:
      - .env
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload

  redis:
    image: redis:7-alpine
    container_name: crypto-simulator-redis
    ports:
      - "6379:6379"