name: Step 1 - Hello GitHub Actions

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print message
        run: echo "GitHub Actions is working"
